<div class="wrapper fadeInDown">
  <div id="formContent" style="overflow-y: scroll; height:600px;">
    <!-- Tabs Titles -->
    <h2 class="active"> Edit account </h2>

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="https://image.flaticon.com/icons/svg/179/179734.svg" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= devise_error_messages! %>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "textIn" %>
        </div>

        <div class="field">
          <%= f.label :name %><br />
          <%= f.text_field :name, class: "textIn" %>
        </div>

        <div class="field">
          <%= f.label :age %><br />
          <%= f.number_field :age, class: "textIn" %>
        </div>

        <div class="field">
          <%= f.label :gender %><br />
          <%= f.text_field :gender, class: "textIn", :readonly => true %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>認証中です: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="field">
          <%= f.label :password %> <i>(Please enter a new password.)</i><br />
          <%= f.password_field :password, autocomplete: "off", class: "textIn" %>
          <% if @minimum_password_length %>
              <br />
              <em><%= @minimum_password_length %> characters minimum</em>
          <% end %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off", class: "textIn" %>
        </div>

        <div class="field">
          <%= f.label :current_password %> <i>(Please enter your current password.)</i><br />
          <%= f.password_field :current_password, autocomplete: "off", class: "textIn" %>
        </div>

        <div class="actions">
          <%= f.submit "Change" %>
        </div>
    <% end %>

    <h3>Delete account</h3>

    <p>Unhappy?
      <%= button_to "Delete account", registration_path(resource_name), data: { confirm: "Are you really sure?" }, method: :delete, style:"background-color: #c14242;"%>
    </p>

    <%= link_to "Back", :back %>
  </div>
</div>