<div class="wrapper fadeInDown">
  <div id="formContent" style="overflow-y: scroll; height:600px;">
    <!-- Tabs Titles -->
    <h2 class="active"> アカウント登録 </h2>

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "textIn" %>
        </div>

        <div class="field">
          <%= f.label :password %>
          <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "off", class: "textIn"%>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off", class: "textIn" %>
        </div>

        <div class="field">
          <%= f.label :name %><br />
          <%= f.text_field :name, class: "textIn" %>
        </div>

        <div class="field">
          <%= f.label :age %><br />
          <%= f.number_field :age, class: "textIn"%>
        </div>

        <div class="actions">
          <%= f.submit "アカウント登録" %>
        </div>
    <% end %>

    <%= render "devise/shared/links" %>

  </div>
</div>