<div class="chat">
  <div class="chat-title">
    <h1><%= @other_user.name %></h1>
    <h2>Have a nice day!</h2>
    <figure class="avatar">
      <img src="https://ui-avatars.com/api/?name=<%= @other_user.name %>" />
    </figure>
  </div>
<div class="scroll">
  <% if @chat.messages.any? %>
      <div id="messages" style="font-size: 16px; color: white; margin-left: 20px;">
        <%= render partial: 'messages/message', collection: @chat.messages.order(id: :asc)%>
      </div>
  <%else%>
      <div id="messages">
      </div>
  <%end%>
</div>
<div class="message-box">
  <%= render partial: 'messages/message_form', locals: {message: @message, chat: @chat}%>
</div>
</div>

<p><%= link_to "Back to list of chats", user_chats_path(current_user.id) %></p>

<script>
    createMessageChannel();
    messageForm();
    //defaults scrolling to bottom
    $(".scroll").scrollTop($(".scroll")[0].scrollHeight);
</script>