
    <div class="wrapper">
      <div id="formContent" style="overflow-y: scroll; height:700px;">
        <!-- Tabs Titles -->
        <h2 class="active"> <%=@image.created_at.to_date %></h2>

        <!-- Icon -->
        <div class="fadeIn first">
          <% if @image.file.present?%>
              <%= image_tag @image.file, class:'center-block', style:'align-content: center; height: 500px;' %>
          <% else %>
              <%= image_tag @image.link, class:'center-block', style:'align-content: center; height: 500px;' %>
          <% end %>
        </div>

        <!-- Login Form -->

        <div class="post-bottom">
          <div class="caption">
            <div class="caption-content">
              <h4><%= @image.title %></h4>
            </div>
          </div>
        </div>
        <div class="comment-like-form row center-block">
          <%= link_to 'Edit', edit_image_path(@image) %> |
          <%= link_to 'Back', images_path %>
        </div>

      </div>
    </div>